$color-active: #1a237e;

.chooser-button {
  cursor: pointer;
}

.chooser-selected {
  background-color: $color-active;
  animation-name: select;
  animation-duration: .5s;
}

@keyframes select {
  from {background-color: #7986cb;}
  to {background-color: $color-active;}
}
